node_modules/*
files/config/tokens/*
!files/config/tokens/wiki.example.json
files/output/*
!files/output/.gitkeep
!files/output/debug/.gitkeep
files/output/debug/*
files/input/*
!files/input/.gitkeep
files/temp/*
!files/temp/.gitkeep